// HEADER
.port-navbar.port-default {
  width: 100%;
  z-index: 15;
  padding: 40px;

  .port-navbar {
    &-brand {
      color: #b73092;
      font-size: 24px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: bold;

      svg {
        fill: #b73092;
      }

      &:hover {
        text-decoration: none;
      }
    }

    &-item {
      margin-left: 10px;
      margin-right: 10px;
    }

    &-link {
      color: white;
      font-weight: bold;
      letter-spacing: 0.8px;
      font-size: 18px;
      text-transform: uppercase;

      &.active {
        color: #b73092;
      }

      &:hover,
      &:focus {
        color: #b73092;
      }
    }
  }
}
