@import './shared/fonts';

// Pages
@import './shared/index';

// Components
@import './components/header';

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

.clickable {
  cursor: pointer;
}

.absolute {
  position: absolute;
}

.self-typed {
  font-size: 45px;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
}

.base-page {
  padding-top: 150px;
  color: white;
}
